<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.PAUI">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.PAUI.SigninAct" />
        <activity android:name="com.example.PAUI.GetStartedAct" />
        <activity android:name="com.example.PAUI.list1Act"/>
        <activity android:name="com.example.PAUI.list2Act"/>
        <activity android:name="com.example.PAUI.list3Act"/>
        <activity android:name="com.example.PAUI.list4Act"/>
        <activity android:name="com.example.PAUI.list5Act"/>
        <activity android:name="com.example.PAUI.list6Act"/>
        <activity android:name="com.example.PAUI.list7Act"/>
        <activity android:name="com.example.PAUI.list8Act"/>
        <activity android:name="com.example.PAUI.list9Act"/>
        <activity android:name="com.example.PAUI.list10Act"/>
        <activity android:name="com.example.PAUI.SplashAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>